.terms-container {
    font-family: Arial, sans-serif;
    background-color: #f0f9ff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.terms-header {
    /* background-color: #10217d; */
    color: black;
    padding: 20px;
    text-align: center;
}

.terms-content {
    flex: 1;
    padding: 10px;
    max-width: 900px;
    margin: auto;
    color: #333;
}

.terms-content h2 {
    margin-top: 30px;
    color: #10217d;
}
